//
//  Staging.xcconfig
//  browserjet-wkwebview
//
//  Created by Moiz Ul Hasan on 21/01/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Base.xcconfig"

APP_ENVIRONMENT = STAGING
APP_CONFIGURATION_NAME = Staging
APP_DISPLAY_NAME = BrowserJet Staging

PRODUCT_BUNDLE_IDENTIFIER = com.ezybusinessapplications.browserjet.staging
PRODUCT_NAME = BrowserJet
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon-Staging

FEATURE_DEBUG_MENU = YES
FEATURE_VERBOSE_LOGGING = YES

// SwiftLint
SWIFTLINT_ENABLED = YES
