<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA6FSVKSUYPhaNaeHYkZBTEXfcAOGj3e94</string>
	<key>GCM_SENDER_ID</key>
	<string>129151825609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.EBA.BrowserJet</string>
	<key>PROJECT_ID</key>
	<string>browserjet-wkwebview-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>browserjet-wkwebview-dev.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129151825609:ios:afe12e41a8b0a106acff18</string>
</dict>
</plist>